In [1]:
#смотрим содержимое логов

#!more /E logs.txt

In [2]:
#Так как в этот раз не было в условиях задания ограничений в использовании pandas будем использовать её

import pandas as pd

#читаем файл и разбиваем на колонки отсеивая лишнее
data = pd.read_csv('logs.txt', delimiter=' ', usecols = [2, 3, 4, 6, 7], names = ["date", "time",  "code", "ip", "link"], skipinitialspace=True)

data.shape
data.head()

,date,time,code,ip,link
0,2018-08-01,00:01:35,[YQ4WUDJV],121.165.118.201,https://all_to_the_bottom.com/
1,2018-08-01,00:01:47,[E522JAEQ],121.165.118.201,https://all_to_the_bottom.com/fresh_fish/
2,2018-08-01,00:03:02,[BHWP66G8],121.165.118.201,https://all_to_the_bottom.com/
3,2018-08-01,00:04:27,[C0182Y6W],121.165.118.201,https://all_to_the_bottom.com/canned_food/
4,2018-08-01,00:05:55,[OJKTKNP6],121.165.118.201,https://all_to_the_bottom.com/

In [3]:
#при помощи библиотеки geolite2 узнаем страны пользователей по ip-адресам

#!pip install maxminddb-geolite2
from geolite2 import geolite2

def get_country(ip):
    try:
        x = geo.get(ip)
    except ValueError:
        return pd.np.nan
    try:
        return x['country']['names']['en'] if x else pd.np.nan
    except KeyError:
        return pd.np.nan

geo = geolite2.reader()


# get unique IPs
unique_ips = data['ip'].unique()
# make series out of it
unique_ips = pd.Series(unique_ips, index = unique_ips)
# map IP --> country
data['country'] = data['ip'].map(unique_ips.apply(get_country))

geolite2.close()

In [4]:
print(data)

             date      time        code               ip  \
0      2018-08-01  00:01:35  [YQ4WUDJV]  121.165.118.201
1      2018-08-01  00:01:47  [E522JAEQ]  121.165.118.201
2      2018-08-01  00:03:02  [BHWP66G8]  121.165.118.201
3      2018-08-01  00:04:27  [C0182Y6W]  121.165.118.201
4      2018-08-01  00:05:55  [OJKTKNP6]  121.165.118.201
5      2018-08-01  00:07:25  [GQY4K4H9]  121.165.118.201
6      2018-08-01  00:07:54  [ENZOWBC9]  121.165.118.201
7      2018-08-01  00:08:58  [7OEXWZ78]  121.165.118.201
8      2018-08-01  00:10:35  [7O3F31OB]  121.165.118.201
9      2018-08-01  00:11:00  [9Q9QAU1V]  121.165.118.201
10     2018-08-01  00:12:35  [0MXU21OC]  121.165.118.201
11     2018-08-01  00:14:11  [98Z2ZRCR]  121.165.118.201
12     2018-08-01  00:15:43  [K8BLV9XL]  121.165.118.201
13     2018-08-01  00:17:12  [SYA178QE]  121.165.118.201
14     2018-08-01  00:18:17  [XL5AKYA9]  121.165.118.201
15     2018-08-01  00:19:41  [MMPGBGZB]  121.165.118.201
16     2018-08-01  00:20:26  [Y1VA17SB]  121.165.118.201
17     2018-08-01  00:21:37  [QD4B5VWV]  121.165.118.201
18     2018-08-01  00:22:37  [JH2ZSEYW]  121.165.118.201
19     2018-08-01  00:23:01  [VKC0S1HU]  121.165.118.201
20     2018-08-01  00:23:09  [4FGK0NNQ]  121.165.118.201
21     2018-08-01  00:24:33  [LG4GJR2C]  121.165.118.201
22     2018-08-01  00:26:04  [PD6PS99K]  121.165.118.201
23     2018-08-01  00:26:31  [HGD3166T]  121.165.118.201
24     2018-08-01  00:28:02  [8Z3X8HQ5]  121.165.118.201
25     2018-08-01  00:28:36  [OOZLQWZC]  121.165.118.201
26     2018-08-01  00:29:08  [S0H941IO]  121.165.118.201
27     2018-08-01  00:29:08  [V8XOAVDK]  121.165.118.201
28     2018-08-01  00:29:08  [7WONILXM]  121.165.118.201
29     2018-08-01  00:29:56  [V258B10W]    217.89.121.82
...           ...       ...         ...              ...
24254  2018-08-14  09:33:30  [1FDEMS3T]    32.81.190.104
24255  2018-08-14  09:34:10  [BVRI31KF]    32.81.190.104
24256  2018-08-14  09:35:21  [B0PL9G96]    72.236.42.232
24257  2018-08-14  09:35:24  [DSQX0ZHX]    72.236.42.232
24258  2018-08-14  09:36:05  [860COJVR]    72.236.42.232
24259  2018-08-14  09:36:36  [E0ROEK7U]    72.236.42.232
24260  2018-08-14  09:37:09  [FQNSLWCT]    72.236.42.232
24261  2018-08-14  09:38:19  [LPT2TNNV]    32.81.190.104
24262  2018-08-14  09:38:19  [TS2OD93U]    32.81.190.104
24263  2018-08-14  09:38:19  [SPRC9IPQ]    32.81.190.104
24264  2018-08-14  09:39:58  [6ZPMY851]    72.236.42.232
24265  2018-08-14  09:39:58  [NGW47UU4]    72.236.42.232
24266  2018-08-14  09:39:58  [KNFNOWKB]    72.236.42.232
24267  2018-08-14  09:40:29  [VNE6CKRZ]   147.144.255.18
24268  2018-08-14  09:41:23  [SPDJKYVC]   147.144.255.18
24269  2018-08-14  09:41:26  [5LXZASF7]   147.144.255.18
24270  2018-08-14  09:43:02  [C7Q6KKKS]   147.144.255.18
24271  2018-08-14  09:44:29  [KEAHBO6W]   147.144.255.18
24272  2018-08-14  09:44:38  [78BPP1CY]   147.144.255.18
24273  2018-08-14  09:45:50  [BXX6672D]   147.144.255.18
24274  2018-08-14  09:46:50  [JDE6Q26W]   147.144.255.18
24275  2018-08-14  09:48:11  [IIZI8RNY]   147.144.255.18
24276  2018-08-14  09:48:33  [SXWP9V8M]   147.144.255.18
24277  2018-08-14  09:50:05  [E2RL01H5]   147.144.255.18
24278  2018-08-14  09:51:05  [1K0JJ1P7]   147.144.255.18
24279  2018-08-14  09:52:25  [9SDDN7VV]   147.144.255.18
24280  2018-08-14  09:53:06  [PANSGPA1]   147.144.255.18
24281  2018-08-14  09:53:56  [QBV4IHFK]   147.144.255.18
24282  2018-08-14  09:53:56  [ZLZ4QXWB]   147.144.255.18
24283  2018-08-14  09:53:56  [2O1CTP7M]   147.144.255.18

                                                    link            country
0                         https://all_to_the_bottom.com/  Republic of Korea
1              https://all_to_the_bottom.com/fresh_fish/  Republic of Korea
2                         https://all_to_the_bottom.com/  Republic of Korea
3             https://all_to_the_bottom.com/canned_food/  Republic of Korea
4                         https://all_to_the_bottom.com/  Republic of Korea
5       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
6             https://all_to_the_bottom.com/canned_food/  Republic of Korea
7       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
8              https://all_to_the_bottom.com/fresh_fish/  Republic of Korea
9       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
10                        https://all_to_the_bottom.com/  Republic of Korea
11     https://all_to_the_bottom.com/canned_food/sprats/  Republic of Korea
12            https://all_to_the_bottom.com/canned_food/  Republic of Korea
13     https://all_to_the_bottom.com/canned_food/pate...  Republic of Korea
14            https://all_to_the_bottom.com/canned_food/  Republic of Korea
15     https://all_to_the_bottom.com/canned_food/pate...  Republic of Korea
16            https://all_to_the_bottom.com/canned_food/  Republic of Korea
17      https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
18                 https://all_to_the_bottom.com/caviar/  Republic of Korea
19     https://all_to_the_bottom.com/caviar/black_cav...  Republic of Korea
20      https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
21            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
22       https://all_to_the_bottom.com/frozen_fish/pike/  Republic of Korea
23            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
24      https://all_to_the_bottom.com/frozen_fish/shark/  Republic of Korea
25     https://all_to_the_bottom.com/cart?goods_id=8&...  Republic of Korea
26            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
27     https://all_to_the_bottom.com/pay?user_id=8127...  Republic of Korea
28       https://all_to_the_bottom.com/success_pay_8642/  Republic of Korea
29      https://all_to_the_bottom.com/semi_manufactures/            Germany
...                                                  ...                ...
24254  https://all_to_the_bottom.com/semi_manufacture...      United States
24255   https://all_to_the_bottom.com/semi_manufactures/      United States
24256   https://all_to_the_bottom.com/semi_manufactures/      United States
24257          https://all_to_the_bottom.com/fresh_fish/      United States
24258                     https://all_to_the_bottom.com/      United States
24259          https://all_to_the_bottom.com/fresh_fish/      United States
24260                     https://all_to_the_bottom.com/      United States
24261  https://all_to_the_bottom.com/semi_manufacture...      United States
24262  https://all_to_the_bottom.com/pay?user_id=8577...      United States
24263    https://all_to_the_bottom.com/success_pay_9788/      United States
24264          https://all_to_the_bottom.com/fresh_fish/      United States
24265  https://all_to_the_bottom.com/pay?user_id=8317...      United States
24266    https://all_to_the_bottom.com/success_pay_9787/      United States
24267                     https://all_to_the_bottom.com/      United States
24268     https://all_to_the_bottom.com/frozen_fish/eel/      United States
24269         https://all_to_the_bottom.com/frozen_fish/      United States
24270     https://all_to_the_bottom.com/frozen_fish/eel/      United States
24271         https://all_to_the_bottom.com/frozen_fish/      United States
24272    https://all_to_the_bottom.com/frozen_fish/carp/      United States
24273         https://all_to_the_bottom.com/frozen_fish/      United States
24274    https://all_to_the_bottom.com/frozen_fish/carp/      United States
24275  https://all_to_the_bottom.com/cart?goods_id=13...      United States
24276   https://all_to_the_bottom.com/semi_manufactures/      United States
24277  https://all_to_the_bottom.com/semi_manufacture...      United States
24278          https://all_to_the_bottom.com/fresh_fish/      United States
24279                     https://all_to_the_bottom.com/      United States
24280         https://all_to_the_bottom.com/canned_food/      United States
24281  https://all_to_the_bottom.com/canned_food/pate...      United States
24282  https://all_to_the_bottom.com/pay?user_id=8141...      United States
24283    https://all_to_the_bottom.com/success_pay_9790/      United States

[24284 rows x 6 columns]

In [36]:
#парсим и сплитим URL линки, чтобы добыть доп.данные

from urllib.parse import urlparse, parse_qs

data['user_id'] = None
data['cart_id'] = None
data['cat'] = None
data['product'] = None
data['goods_id'] = None
data['amount'] = None
data['payment'] = None

urls = data['link']
i=0

for url in urls:
    
    #print(i)
    url_details = urlparse(url)
    
    if url_details.path == '/cart':
        query = parse_qs(url_details.query)
        data.loc[i, 'goods_id'] = query['goods_id'][0]
        data.loc[i, 'amount'] = query['amount'][0]
        data.loc[i, 'cart_id'] = query['cart_id'][0]
        
    elif url_details.path == '/pay':          
        query = parse_qs(url_details.query)
        data.loc[i, 'user_id'] = query['user_id'][0]
        data.loc[i, 'cart_id'] = query['cart_id'][0]
        
    elif url_details.path[:12] == '/success_pay':
        data.loc[i, 'cart_id'] = url_details.path.split('_')[-1][:-1]
        data.loc[i, 'payment'] = 'Yes'
        #print(data['payment'])
        
    else:        
        category_and_product = url_details.path.split('/')
        category_and_product.remove('')
        category_and_product.remove('')        
        
        try:
            cat = (category_and_product[0])
            data.loc[i, 'cat'] = cat
            
        except:
            data.loc[i, 'cat'] = None            
            
        try:
            product = (category_and_product[1])
            data.loc[i, 'product'] = product
        except:
            data.loc[i, 'product'] = None
            
    i+=1
        
print('Все завершено успешно')

AttributeError: 'float' object has no attribute 'decode'

In [12]:
print(data)

             date      time        code               ip  \
0      2018-08-01  00:01:35  [YQ4WUDJV]  121.165.118.201
1      2018-08-01  00:01:47  [E522JAEQ]  121.165.118.201
2      2018-08-01  00:03:02  [BHWP66G8]  121.165.118.201
3      2018-08-01  00:04:27  [C0182Y6W]  121.165.118.201
4      2018-08-01  00:05:55  [OJKTKNP6]  121.165.118.201
5      2018-08-01  00:07:25  [GQY4K4H9]  121.165.118.201
6      2018-08-01  00:07:54  [ENZOWBC9]  121.165.118.201
7      2018-08-01  00:08:58  [7OEXWZ78]  121.165.118.201
8      2018-08-01  00:10:35  [7O3F31OB]  121.165.118.201
9      2018-08-01  00:11:00  [9Q9QAU1V]  121.165.118.201
10     2018-08-01  00:12:35  [0MXU21OC]  121.165.118.201
11     2018-08-01  00:14:11  [98Z2ZRCR]  121.165.118.201
12     2018-08-01  00:15:43  [K8BLV9XL]  121.165.118.201
13     2018-08-01  00:17:12  [SYA178QE]  121.165.118.201
14     2018-08-01  00:18:17  [XL5AKYA9]  121.165.118.201
15     2018-08-01  00:19:41  [MMPGBGZB]  121.165.118.201
16     2018-08-01  00:20:26  [Y1VA17SB]  121.165.118.201
17     2018-08-01  00:21:37  [QD4B5VWV]  121.165.118.201
18     2018-08-01  00:22:37  [JH2ZSEYW]  121.165.118.201
19     2018-08-01  00:23:01  [VKC0S1HU]  121.165.118.201
20     2018-08-01  00:23:09  [4FGK0NNQ]  121.165.118.201
21     2018-08-01  00:24:33  [LG4GJR2C]  121.165.118.201
22     2018-08-01  00:26:04  [PD6PS99K]  121.165.118.201
23     2018-08-01  00:26:31  [HGD3166T]  121.165.118.201
24     2018-08-01  00:28:02  [8Z3X8HQ5]  121.165.118.201
25     2018-08-01  00:28:36  [OOZLQWZC]  121.165.118.201
26     2018-08-01  00:29:08  [S0H941IO]  121.165.118.201
27     2018-08-01  00:29:08  [V8XOAVDK]  121.165.118.201
28     2018-08-01  00:29:08  [7WONILXM]  121.165.118.201
29     2018-08-01  00:29:56  [V258B10W]    217.89.121.82
...           ...       ...         ...              ...
24255  2018-08-14  09:34:10  [BVRI31KF]    32.81.190.104
24256  2018-08-14  09:35:21  [B0PL9G96]    72.236.42.232
24257  2018-08-14  09:35:24  [DSQX0ZHX]    72.236.42.232
24258  2018-08-14  09:36:05  [860COJVR]    72.236.42.232
24259  2018-08-14  09:36:36  [E0ROEK7U]    72.236.42.232
24260  2018-08-14  09:37:09  [FQNSLWCT]    72.236.42.232
24261  2018-08-14  09:38:19  [LPT2TNNV]    32.81.190.104
24262  2018-08-14  09:38:19  [TS2OD93U]    32.81.190.104
24263  2018-08-14  09:38:19  [SPRC9IPQ]    32.81.190.104
24264  2018-08-14  09:39:58  [6ZPMY851]    72.236.42.232
24265  2018-08-14  09:39:58  [NGW47UU4]    72.236.42.232
24266  2018-08-14  09:39:58  [KNFNOWKB]    72.236.42.232
24267  2018-08-14  09:40:29  [VNE6CKRZ]   147.144.255.18
24268  2018-08-14  09:41:23  [SPDJKYVC]   147.144.255.18
24269  2018-08-14  09:41:26  [5LXZASF7]   147.144.255.18
24270  2018-08-14  09:43:02  [C7Q6KKKS]   147.144.255.18
24271  2018-08-14  09:44:29  [KEAHBO6W]   147.144.255.18
24272  2018-08-14  09:44:38  [78BPP1CY]   147.144.255.18
24273  2018-08-14  09:45:50  [BXX6672D]   147.144.255.18
24274  2018-08-14  09:46:50  [JDE6Q26W]   147.144.255.18
24275  2018-08-14  09:48:11  [IIZI8RNY]   147.144.255.18
24276  2018-08-14  09:48:33  [SXWP9V8M]   147.144.255.18
24277  2018-08-14  09:50:05  [E2RL01H5]   147.144.255.18
24278  2018-08-14  09:51:05  [1K0JJ1P7]   147.144.255.18
24279  2018-08-14  09:52:25  [9SDDN7VV]   147.144.255.18
24280  2018-08-14  09:53:06  [PANSGPA1]   147.144.255.18
24281  2018-08-14  09:53:56  [QBV4IHFK]   147.144.255.18
24282  2018-08-14  09:53:56  [ZLZ4QXWB]   147.144.255.18
24283  2018-08-14  09:53:56  [2O1CTP7M]   147.144.255.18
24284         NaN       NaN         NaN              NaN

                                                    link            country  \
0                         https://all_to_the_bottom.com/  Republic of Korea
1              https://all_to_the_bottom.com/fresh_fish/  Republic of Korea
2                         https://all_to_the_bottom.com/  Republic of Korea
3             https://all_to_the_bottom.com/canned_food/  Republic of Korea
4                         https://all_to_the_bottom.com/  Republic of Korea
5       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
6             https://all_to_the_bottom.com/canned_food/  Republic of Korea
7       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
8              https://all_to_the_bottom.com/fresh_fish/  Republic of Korea
9       https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
10                        https://all_to_the_bottom.com/  Republic of Korea
11     https://all_to_the_bottom.com/canned_food/sprats/  Republic of Korea
12            https://all_to_the_bottom.com/canned_food/  Republic of Korea
13     https://all_to_the_bottom.com/canned_food/pate...  Republic of Korea
14            https://all_to_the_bottom.com/canned_food/  Republic of Korea
15     https://all_to_the_bottom.com/canned_food/pate...  Republic of Korea
16            https://all_to_the_bottom.com/canned_food/  Republic of Korea
17      https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
18                 https://all_to_the_bottom.com/caviar/  Republic of Korea
19     https://all_to_the_bottom.com/caviar/black_cav...  Republic of Korea
20      https://all_to_the_bottom.com/semi_manufactures/  Republic of Korea
21            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
22       https://all_to_the_bottom.com/frozen_fish/pike/  Republic of Korea
23            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
24      https://all_to_the_bottom.com/frozen_fish/shark/  Republic of Korea
25     https://all_to_the_bottom.com/cart?goods_id=8&...  Republic of Korea
26            https://all_to_the_bottom.com/frozen_fish/  Republic of Korea
27     https://all_to_the_bottom.com/pay?user_id=8127...  Republic of Korea
28       https://all_to_the_bottom.com/success_pay_8642/  Republic of Korea
29      https://all_to_the_bottom.com/semi_manufactures/            Germany
...                                                  ...                ...
24255   https://all_to_the_bottom.com/semi_manufactures/      United States
24256   https://all_to_the_bottom.com/semi_manufactures/      United States
24257          https://all_to_the_bottom.com/fresh_fish/      United States
24258                     https://all_to_the_bottom.com/      United States
24259          https://all_to_the_bottom.com/fresh_fish/      United States
24260                     https://all_to_the_bottom.com/      United States
24261  https://all_to_the_bottom.com/semi_manufacture...      United States
24262  https://all_to_the_bottom.com/pay?user_id=8577...      United States
24263    https://all_to_the_bottom.com/success_pay_9788/      United States
24264          https://all_to_the_bottom.com/fresh_fish/      United States
24265  https://all_to_the_bottom.com/pay?user_id=8317...      United States
24266    https://all_to_the_bottom.com/success_pay_9787/      United States
24267                     https://all_to_the_bottom.com/      United States
24268     https://all_to_the_bottom.com/frozen_fish/eel/      United States
24269         https://all_to_the_bottom.com/frozen_fish/      United States
24270     https://all_to_the_bottom.com/frozen_fish/eel/      United States
24271         https://all_to_the_bottom.com/frozen_fish/      United States
24272    https://all_to_the_bottom.com/frozen_fish/carp/      United States
24273         https://all_to_the_bottom.com/frozen_fish/      United States
24274    https://all_to_the_bottom.com/frozen_fish/carp/      United States
24275  https://all_to_the_bottom.com/cart?goods_id=13...      United States
24276   https://all_to_the_bottom.com/semi_manufactures/      United States
24277  https://all_to_the_bottom.com/semi_manufacture...      United States
24278          https://all_to_the_bottom.com/fresh_fish/      United States
24279                     https://all_to_the_bottom.com/      United States
24280         https://all_to_the_bottom.com/canned_food/      United States
24281  https://all_to_the_bottom.com/canned_food/pate...      United States
24282  https://all_to_the_bottom.com/pay?user_id=8141...      United States
24283    https://all_to_the_bottom.com/success_pay_9790/      United States
24284                                                NaN                NaN

           user_id cart_id                cat        product goods_id amount  \
0             None    None               None           None     None   None
1             None    None               None           None     None   None
2             None    None               None           None     None   None
3             None    None               None           None     None   None
4             None    None               None           None     None   None
5             None    None               None           None     None   None
6             None    None               None           None     None   None
7             None    None               None           None     None   None
8             None    None               None           None     None   None
9             None    None               None           None     None   None
10            None    None               None           None     None   None
11            None    None        canned_food         sprats     None   None
12            None    None               None           None     None   None
13            None    None        canned_food   pate_of_tuna     None   None
14            None    None               None           None     None   None
15            None    None        canned_food   pate_of_tuna     None   None
16            None    None               None           None     None   None
17            None    None               None           None     None   None
18            None    None               None           None     None   None
19            None    None             caviar   black_caviar     None   None
20            None    None               None           None     None   None
21            None    None               None           None     None   None
22            None    None        frozen_fish           pike     None   None
23            None    None               None           None     None   None
24            None    None        frozen_fish          shark     None   None
25            None    8642               None           None        8      1
26            None    None               None           None     None   None
27     81270149216    8642               None           None     None   None
28            None    8642               None           None     None   None
29            None    None               None           None     None   None
...            ...     ...                ...            ...      ...    ...
24255         None    None               None           None     None   None
24256         None    None               None           None     None   None
24257         None    None               None           None     None   None
24258         None    None               None           None     None   None
24259         None    None               None           None     None   None
24260         None    None               None           None     None   None
24261         None    None  semi_manufactures  salmon_cutlet     None   None
24262  85772286583    9788               None           None     None   None
24263         None    9788               None           None     None   None
24264         None    None               None           None     None   None
24265  83176132815    9787               None           None     None   None
24266         None    9787               None           None     None   None
24267         None    None               None           None     None   None
24268         None    None        frozen_fish            eel     None   None
24269         None    None               None           None     None   None
24270         None    None        frozen_fish            eel     None   None
24271         None    None               None           None     None   None
24272         None    None        frozen_fish           carp     None   None
24273         None    None               None           None     None   None
24274         None    None        frozen_fish           carp     None   None
24275         None    9790               None           None       13      1
24276         None    None               None           None     None   None
24277         None    None  semi_manufactures  salmon_cutlet     None   None
24278         None    None               None           None     None   None
24279         None    None               None           None     None   None
24280         None    None               None           None     None   None
24281         None    None        canned_food   pate_of_tuna     None   None
24282  81416246280    9790               None           None     None   None
24283         None    9790               None           None     None   None
24284         None    None               None           None     None   None

      payment
0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28        Yes
29       None
...       ...
24255    None
24256    None
24257    None
24258    None
24259    None
24260    None
24261    None
24262    None
24263     Yes
24264    None
24265    None
24266     Yes
24267    None
24268    None
24269    None
24270    None
24271    None
24272    None
24273    None
24274    None
24275    None
24276    None
24277    None
24278    None
24279    None
24280    None
24281    None
24282    None
24283     Yes
24284    None

[24285 rows x 13 columns]

In [38]:
#подключаем mysql и создаем базу, если она еще не создана

#!pip install pymysql
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='')

conn.cursor().execute('CREATE DATABASE IF NOT EXISTS is74;')
print('База данных is74 успешно создана')

База данных is74 успешно создана

In [39]:
#а теперь удобнейшним способом импортируем весь датафрейм логов в базу данных

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:"+''+"@localhost/is74")
data.to_sql('logs', con=engine, if_exists='replace', index=False)

In [41]:
SELECT `country`, CONCAT(`name`,`emp_id`) AS uv FROM `uniq` GROUP BY uv HAVING COUNT(uv) = 1

InternalError: (1046, 'No database selected')

In [34]:
actions = dict(conn.cursor().execute(
        """
            SELECT is74.country AS "Country",
            COUNT(is74.country) AS "Amount of users"            
            WHERE is74.country != ''
            GROUP BY country
            ORDER BY "Amount of users" DESC
        """).fetchall())

ProgrammingError: (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'WHERE is74.country != \'\'\n            GROUP BY country\n            ORDER BY "Amou\' at line 3')