In [1]:
#смотрим содержимое логов

#!more /E logs.txt

In [2]:
#Так как в этот раз не было в условиях задания ограничений в использовании pandas будем использовать её

import pandas as pd

#читаем файл и разбиваем на колонки отсеивая лишнее
data = pd.read_csv('logs.txt', delimiter=' ', usecols = [2, 3, 4, 6, 7], names = ["date", "time",  "code", "ip", "link"], skipinitialspace=True)

data.head()

,date,time,code,ip,link
0,2018-08-01,00:01:35,[YQ4WUDJV],121.165.118.201,https://all_to_the_bottom.com/
1,2018-08-01,00:01:47,[E522JAEQ],121.165.118.201,https://all_to_the_bottom.com/fresh_fish/
2,2018-08-01,00:03:02,[BHWP66G8],121.165.118.201,https://all_to_the_bottom.com/
3,2018-08-01,00:04:27,[C0182Y6W],121.165.118.201,https://all_to_the_bottom.com/canned_food/
4,2018-08-01,00:05:55,[OJKTKNP6],121.165.118.201,https://all_to_the_bottom.com/

In [3]:
#при помощи библиотеки geolite2 узнаем страны пользователей по ip-адресам

#!pip install maxminddb-geolite2
from geolite2 import geolite2

def get_country(ip):
    try:
        x = geo.get(ip)
    except ValueError:
        return pd.np.nan
    try:
        return x['country']['names']['en'] if x else pd.np.nan
    except KeyError:
        return pd.np.nan

geo = geolite2.reader()


# get unique IPs
unique_ips = data['ip'].unique()
# make series out of it
unique_ips = pd.Series(unique_ips, index = unique_ips)
# map IP --> country
data['country'] = data['ip'].map(unique_ips.apply(get_country))

geolite2.close()
data.head()

,date,time,code,ip,link,country
0,2018-08-01,00:01:35,[YQ4WUDJV],121.165.118.201,https://all_to_the_bottom.com/,Republic of Korea
1,2018-08-01,00:01:47,[E522JAEQ],121.165.118.201,https://all_to_the_bottom.com/fresh_fish/,Republic of Korea
2,2018-08-01,00:03:02,[BHWP66G8],121.165.118.201,https://all_to_the_bottom.com/,Republic of Korea
3,2018-08-01,00:04:27,[C0182Y6W],121.165.118.201,https://all_to_the_bottom.com/canned_food/,Republic of Korea
4,2018-08-01,00:05:55,[OJKTKNP6],121.165.118.201,https://all_to_the_bottom.com/,Republic of Korea

In [4]:
#парсим и сплитим URL линки, чтобы добыть доп.данные

from urllib.parse import urlparse, parse_qs

data['user_id'] = None
data['cart_id'] = None
data['cat'] = None
data['product'] = None
data['goods_id'] = None
data['amount'] = None
data['payment'] = None

urls = data['link']
i=0

for url in urls:
    
    #print(i)
    url_details = urlparse(url)
    
    if url_details.path == '/cart':
        query = parse_qs(url_details.query)
        data.loc[i, 'goods_id'] = query['goods_id'][0]
        data.loc[i, 'amount'] = query['amount'][0]
        data.loc[i, 'cart_id'] = query['cart_id'][0]
        
    elif url_details.path == '/pay':          
        query = parse_qs(url_details.query)
        data.loc[i, 'user_id'] = query['user_id'][0]
        data.loc[i, 'cart_id'] = query['cart_id'][0]
        
    elif url_details.path[:12] == '/success_pay':
        data.loc[i, 'cart_id'] = url_details.path.split('_')[-1][:-1]
        data.loc[i, 'payment'] = 'Yes'
        #print(data['payment'])
        
    else:        
        category_and_product = url_details.path.split('/')
        category_and_product.remove('')
        category_and_product.remove('')        
        
        try:
            cat = (category_and_product[0])
            data.loc[i, 'cat'] = cat
            
        except:
            data.loc[i, 'cat'] = None            
            
        try:
            product = (category_and_product[1])
            data.loc[i, 'product'] = product
        except:
            data.loc[i, 'product'] = None
            
    i+=1
        
print('Все завершено успешно')

Все завершено успешно

In [30]:
#подключаем mysql и создаем базу, если она еще не создана

#!pip install pymysql
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='')
cursor = conn.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS is74;')
cursor.execute('USE is74;')
print('База данных is74 успешно создана')

База данных is74 успешно создана

In [31]:
#а теперь удобнейшним способом импортируем весь датафрейм логов в базу данных

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:"+''+"@localhost/is74")
data.to_sql('logs', con=engine, if_exists='replace', index=False)

In [32]:
#отчет №1 - из какой страны больше всего действий

df = pd.read_sql("SELECT country, COUNT(code) AS qty FROM logs GROUP BY country ORDER BY `qty` DESC", conn)
print('Больше всего посетителей совершают действия на сайте из ', df['country'][0])
print('Общее количество действий ', df['qty'][0])

Больше всего посетителей совершают действия на сайте из  United States
Общее количество действий  9338

In [33]:
#отчет №2 - из какой страны больше всего интересовались категорией товаров canned_food

df = pd.read_sql("SELECT country, COUNT(ip) AS qty FROM logs WHERE cat='canned_food' GROUP BY country ORDER BY `qty` DESC", conn)
print('Больше всего посетителей интересующихся категорией canned_food из страны ', df['country'][0])
print('Общее количество посетителей категории: ', df['qty'][0])

Больше всего посетителей интересующихся категорией canned_food из страны  United States
Общее количество посетителей категории:  1279

In [34]:
#отчет №3 - В какое время суток чаще всего просматривают категорию fresh_fish?


df = pd.read_sql("SELECT time, COUNT(code) AS qty FROM logs WHERE cat='fresh_fish' GROUP BY country ORDER BY `qty` DESC", conn)

time = df['time'][0]
time = time.split(':')[0]
time = int(time)

if time <= 5:
    hour = "ночью"
elif time <= 11 & time >= 6 :
    hour = "утром"
elif time <= 18 & time >= 12 :
    hour = "днем"
else:
    hour = "вечером"

print('Больше всего катергорию fresh_fish посещают ', hour, ' в ', df['time'][0])
print('Общее количество посетителей категории в это время: ', df['qty'][0])

night_hours = ('00', '01', '02', '03', '04', '05')
morning_hours = ('06', '07', '08', '09', '10', '11')
afternoon_hours = tuple(str(x) for x in range(12, 18))
evening_hours = tuple(str(x) for x in range(18, 24))

Больше всего катергорию fresh_fish посещают  ночью  в  00:34:19
Общее количество посетителей категории в это время:  1412